---
import { Image } from "astro:assets";
import meetImg from "../../assets/Image/meet1.png";
import meetImg1 from "../../assets/Image/meet2.png";
import socialImg from "../../assets/icons/social-1.svg";
import socialImg1 from "../../assets/icons/social-2.svg";
---

<section class="py-section-padding-mobile lg:py-section-padding-desktop">
  <div class="max-w-container-max-width px-container-padding-mobile lg:px-container-padding-desktop mx-auto overflow-hidden">
    <h2
      data-aos="fade-up"
      class="text-center lg:text-heading-desktop text-heading-mobile lg:leading-heading-desktop leading-heading-mobile font-black lg:mb-grid-gap-desktop mb-text-gap-medium font-ppradio text-textPrimary"
    >
      Meet the brothers behind Boutee
    </h2>
    <div class="grid md:gap-text-gap-medium gap-section-padding-mobile sm:grid-cols-1 md:grid-cols-2">
      <!-- Card 1 -->
      <div class="flex bg-white xl:flex-row flex-col xl:items-center gap-s overflow-hidden">
        <div class="relative min-w-[294px] w-full rounded-xxl">
          <Image
            src={meetImg}
            alt="Billy Ward"
            class="w-full object-cover rounded-xxl"
          />
        </div>
        <div class="lg:max-w-[290px]">
          <h2 class="lg:text-heading-mobile text-[22px] text-textPrimary mb-xxs font-black font-ppradio lg:leading-heading-mobile leading-[26px]">
            Billy Ward
          </h2>
          <p class="lg:text-body-desktop text-body-mobile text-textSecondary font-figtree lg:leading-large-mobile leading-body-mobile">
            Job title
          </p>
          <p class="lg:text-body-mobile text-small text-textPrimary font-figtree lg:leading-body-mobile leading-[18px] md:mt-m mt-s">
            XXX
          </p>
          <div class="flex mt-text-gap-medium space-x-xxs">
            <a href="#" class="flex items-center justify-center w-[36px] h-[36px] bg-cardColor rounded-s">
              <Image src={socialImg1} alt="LinkedIn" class="w-[20px] h-[20px]" />
            </a>
            <a href="#" class="flex items-center justify-center w-[36px] h-[36px] bg-cardColor rounded-s">
              <Image src={socialImg} alt="Twitter" class="w-[20px] h-[20px]" />
            </a>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="flex bg-white xl:flex-row flex-col xl:items-center gap-s overflow-hidden">
        <div class="relative min-w-[294px] w-full rounded-xxl">
          <Image
            src={meetImg1}
            alt="Ethan Ward"
            class="w-full object-cover rounded-xxl"
          />
        </div>
        <div class="lg:max-w-[290px]">
          <h2 class="lg:text-heading-mobile text-[22px] text-textPrimary mb-xxs font-black font-ppradio lg:leading-heading-mobile leading-[26px]">
            Ethan Ward
          </h2>
          <p class="lg:text-body-desktop text-body-mobile text-textSecondary font-figtree lg:leading-large-mobile leading-body-mobile">
            Job title
          </p>
          <p class="lg:text-body-mobile text-small text-textPrimary font-figtree lg:leading-body-mobile leading-[18px] md:mt-m mt-s">
            XXX
          </p>
          <div class="flex mt-text-gap-medium space-x-xxs">
            <a href="#" class="flex items-center justify-center w-[36px] h-[36px] bg-cardColor rounded-s">
              <Image src={socialImg1} alt="LinkedIn" class="w-[20px] h-[20px]" />
            </a>
            <a href="#" class="flex items-center justify-center w-[36px] h-[36px] bg-cardColor rounded-s">
              <Image src={socialImg} alt="Twitter" class="w-[20px] h-[20px]" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>