---
// ./src/pages/post/[slug].astro
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../../sanity/lib/load-query";
import BaseLayout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import rightShift from "../../assets/icons/right-shift.png";
import badge from "../../assets/icons/Badge-blog.svg";
import link from "../../assets/icons/Link.svg";
import linkedin from "../../assets/icons/Linkedin.svg";
import facebook from "../../assets/icons/Facebook.svg";
import twitter from "../../assets/icons/X.svg";
import arrow from "../../assets/icons/ArrowRight.svg";
import { urlForImage } from "../../sanity/lib/url-for-image";
import PortableText from "../../components/PortableText.astro";
export async function getStaticPaths() {
  const { data: posts } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "post"]`,
  });

  return posts.map(({ slug }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}

const { params } = Astro;

const { data: post } = await loadQuery({
  query: `*[_type == "post" && slug.current == $slug][0]{
    title,
    description,
    slug,
    "author": author->{
      _id,
      name,
      image
    },
    "mainImage": mainImage{
      ...,
      "url": asset->url
    },
    "categories": categories[]->{
      _id,
      title
    },
    publishedAt,
    body
  }`,
  params,
});

function formatDate(dateString: string) {
  return new Intl.DateTimeFormat("en-GB", {
    day: "2-digit",
    month: "short",
    year: "numeric",
  }).format(new Date(dateString));
}

const { data: relatedPosts } = await loadQuery<SanityDocument[]>({
  query: `*[_type == "post" 
    && slug.current != $slug 
    && count(categories[@._ref in $categoryIds]) > 0] 
    | order(publishedAt desc)[0...3]{
      title,
      slug,
      publishedAt,
      description,
      mainImage,
      "categories": categories[]->{
        _id,
        title
      }
    }`,
  params: {
    slug: post.slug.current,
    categoryIds: post.categories.map((cat: any) => cat._id),
  },
});
console.log(relatedPosts, 444);
---

<BaseLayout title=`Boutee - ${post.title}`>
  <section class="md:pt-[112px] md:pb-[32px] pt-[24px]">
    <div class="max-w-screen-2xl lg:px-20 px-[24px] mx-auto pb-[8px]">
      <div
        class="flex flex-col justify-between lg:flex-row lg:gap-10 xl:gap-20"
      >
        <div class="flex flex-col justify-between mb-[48px] lg:mb-0">
          <div class="pb-[20px] md:pb-[24px] mb-[24px] md:mb-[20px]">
            <div
              class="mb-[20px] md:mb-[24px] flex justify-start items-center gap-1"
            >
              <a
                href="/blog"
                class="font-figtree font-normal text-[16px] leading-[20px] text-textSecondary"
                >Blog</a
              ><Image src={rightShift} class="h-3 w-3" alt="hero-image" />
              {
                post.categories && (
                  <span class="font-figtree font-normal text-[16px] leading-[20px] text-textSecondary capitalize">
                    {post.categories.map((cat) => cat.title).join(", ")}
                  </span>
                )
              }
            </div>
            <h1
              class="font-figtree font-black text-textPrimary text-[32px] leading-[36px] md:text-[52px] md:leading-[56px]"
            >
              {post.title}
            </h1>
          </div>
          <div>
            <div
              class="mb-[16px] md:mb-[32px] w-full flex items-center gap-[12px]"
            >
              <span
                class="font-figtree font-normal text-sm leading-[18px] text-textSecondary"
                >{formatDate(post.publishedAt)}</span
              >
              <Image src={badge} alt="blog image" class="h-2 w-2" />
              <span
                class="font-figtree font-normal text-sm leading-[18px] text-textSecondary"
                >5 min read</span
              >
            </div>

            <div>
              <p
                class="font-figtree font-normal text-[16px] leading-[20px] text-textPrimary mb-[16px]"
              >
                Share this post
              </p>
              <div class="flex items-center gap-2">
                <a href="" class="h-9 w-9 rounded-[12px] p-2 bg-cardColor">
                  <Image src={link} alt="blog image" class="h-5 w-5" /></a
                >
                <a href="" class="h-9 w-9 rounded-[12px] p-2 bg-cardColor">
                  <Image src={facebook} alt="blog image" class="h-5 w-5" /></a
                >
                <a href="" class="h-9 w-9 rounded-[12px] p-2 bg-cardColor">
                  <Image src={linkedin} alt="blog image" class="h-5 w-5" /></a
                >
                <a href="" class="h-9 w-9 rounded-[12px] p-2 bg-cardColor">
                  <Image src={twitter} alt="blog image" class="h-5 w-5" /></a
                >
              </div>
            </div>
          </div>
        </div>

        <div>
          <img
            src={`${urlForImage(post.mainImage)}`}
            alt={post.mainImage.alt || "blog image"}
            class="rounded-[24px] xl:w-[600px] xl:h-[425px]"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="md:py-[80px] pt-[16px] pb-[48px]">
    <div class="max-w-screen-2xl lg:px-20 px-[24px] mx-auto">
      <div
        class="flex flex-col justify-between lg:flex-row gap-10 lg:gap-20 xl:gap-[120px]"
      >
        <div
          class="flex lg:hidden items-center w-full py-2 px-3 h-13 gap-1 bg-white border border-[#F2F3F7] acd-shadow rounded-[16px]"
        >
          <select
            name="category"
            id=""
            class="w-full font-figtree font-bold text-[18px] leading-[22px] text-textPrimary outline-none"
          >
            <option value="" class="">Block 1</option>
            <option value="">Block 2</option>
            <option value="">Block 3</option>
            <option value="">Block 4</option>
          </select>
        </div>

        <div
          class="flex flex-col font-figtree
            [&>ul]:list-disc [&>ul]:list-inside
            [&>ol]:list-decimal [&>ol]:list-inside
            [&>blockquote]:border-l-4 [&>blockquote]:pl-4 [&>blockquote]:italic
            [&>p]:mb-2"
        >
          <PortableText portableText={post.body} />
        </div>
        <!-- <div
  class="prose prose-lg max-w-none font-figtree
    prose-p:mb-3
    prose-ul:list-disc prose-ul:list-inside
    prose-ol:list-decimal prose-ol:list-inside
    prose-blockquote:border-l-4 prose-blockquote:pl-4 prose-blockquote:italic prose-blockquote:text-gray-700   
    prose-a:text-blue-600 prose-a:underline hover:prose-a:text-blue-800
    prose-code:bg-gray-100 prose-code:px-1.5 prose-code:py-0.5 prose-code:rounded prose-code:text-pink-600
    prose-pre:bg-gray-900 prose-pre:text-gray-100 prose-pre:rounded-lg prose-pre:p-4
    prose-table:table-auto prose-table:border prose-th:border prose-td:border prose-th:px-3 prose-td:px-3 prose-th:py-2 prose-td:py-2
    prose-h1:text-4xl prose-h1:font-bold prose-h1:mb-6
    prose-h2:text-3xl prose-h2:font-semibold prose-h2:mt-8 prose-h2:mb-4
    prose-h3:text-2xl prose-h3:font-semibold prose-h3:mt-6 prose-h3:mb-3
    prose-h4:text-xl prose-h4:font-medium prose-h4:mt-4 prose-h4:mb-2
    prose-h5:text-lg prose-h5:font-medium prose-h5:mt-3 prose-h5:mb-1
    prose-h6:text-base prose-h6:font-medium prose-h6:uppercase prose-h6:tracking-wide
  "
>
  <PortableText value={post.body} />
</div> -->


        <div class="hidden lg:block">
          <h5
            class="mb-[24px] font-figtree font-bold text-[20px] leading-[24px] text-textPrimary"
          >
            Table of contents
          </h5>
          <ul>
            <li
              class="mb-[8px] flex px-3 py-2 gap-2 items-center bg-cardColor text-textPrimary rounded-[12px] cursor-pointer min-w-[320px]"
            >
              <Image src={arrow} class="h-5 w-5" alt="hero-image" />
              <span class="font-figtree font-normal text-[16px] leading-[20px]"
                >Block 1</span
              >
            </li>
            <li
              class="mb-[8px] flex px-3 py-2 gap-2 items-center hover:bg-cardColor text-textSecondary hover:text-textPrimary rounded-[12px] cursor-pointer min-w-[320px]"
            >
              <Image src={arrow} class="h-5 w-5" alt="hero-image" />
              <span class="font-figtree font-normal text-[16px] leading-[20px]"
                >Block 2</span
              >
            </li>
            <li
              class="mb-[8px] flex px-3 py-2 gap-2 items-center hover:bg-cardColor text-textSecondary hover:text-textPrimary rounded-[12px] cursor-pointer min-w-[320px]"
            >
              <Image src={arrow} class="h-5 w-5" alt="hero-image" />
              <span class="font-figtree font-normal text-[16px] leading-[20px]"
                >Block 3</span
              >
            </li>
            <li
              class="mb-[8px] flex px-3 py-2 gap-2 items-center hover:bg-cardColor text-textSecondary hover:text-textPrimary rounded-[12px] cursor-pointer min-w-[320px]"
            >
              <Image src={arrow} class="h-5 w-5" alt="hero-image" />
              <span class="font-figtree font-normal text-[16px] leading-[20px]"
                >Block 4</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="lg:py-[112px] py-[48px]">
    <div class="max-w-screen-2xl lg:px-20 px-[24px] mx-auto">
      <div class="lg:mb-[80px] mb-[24px]">
        <div class="flex justify-between items-center w-full">
          <h2
            class="lg:text-[52px] text-center md:text-start w-full text-[32px] lg:leading-[56px] leading-[36px] font-black font-figtree text-textPrimary"
          >
            Related posts
          </h2>
          <a
            href="/blog"
            class="hidden sm:flex font-figtree font-medium text-base w-[104px] leading-5 text-textPrimary bg-cardColor py-[0px] text-center items-center justify-center h-12 rounded-[16px] cursor-pointer"
          >
            View all
          </a>
        </div>
      </div>
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 lg:gap-[40px] gap-[20px]">
        {
          relatedPosts.length === 0 ? (
            <p class="font-figtree font-normal text-base leading-[20px] text-textPrimary">
              No related posts found.
            </p>
          ) : (
            relatedPosts.map((post) => (
              <div class="min-w-[240px] rounded-[20px] border border-cardColor flex flex-col">
                <a href={`/post/${post.slug.current}`}>
                  <img
                    src={`${urlForImage(post.mainImage)}`}
                    alt={post.mainImage.alt || "blog image"}
                    class="rounded-[24px] mb-[8px] min-h-[231px] md:min-h-[293px] md:max-h-[293px]"
                  />
                </a>

                <div class="p-[12px] lg:py-4 lg:px-5">
                  {post.categories && (
                    <span class="inline-block grid uppercase place-content-center h-[22px] py-1 px-3 rounded-[40px] bg-cardColor md:bg-[#E3E4E8] font-figtree font-normal text-[10px] leading-[14px] text-textPrimary">
                      {post.categories.map((cat) => cat.title).join(", ")}
                    </span>
                  )}
                  <a href={`/post/${post.slug.current}`}>
                    <h3 class="mt-[12px] mb-[8px] font-figtree font-bold text-textPrimary text-lg leading-[22px] lg:font-black lg:text-[20px] lg:leading-[24px]">
                      {post.title}
                    </h3>
                  </a>
                  <p class="line-clamp-2 lg:mb-[32px] mb-[16px] font-figtree font-normal text-textPrimary text-base leading-[20px] lg:text-[18px] lg:leading-[22px]">
                    {post.description}
                  </p>
                  <div class="w-full flex items-center gap-2">
                    <span class="font-figtree font-normal text-sm leading-[18px] text-textSecondary">
                      {formatDate(post.publishedAt)}
                    </span>
                    <Image src={badge} alt="blog image" class="h-2 w-2" />
                    <span class="font-figtree font-normal text-sm leading-[18px] text-textSecondary">
                      5 min read
                    </span>
                  </div>
                </div>
              </div>
            ))
          )
        }
      </div>

      <button
        class="mt-[24px] w-full sm:hidden font-figtree font-medium text-base leading-5 text-textPrimary bg-cardColor py-[14px] px-[24px] h-12 rounded-[16px] cursor-pointer"
      >
        View all
      </button>
    </div>
  </section>
</BaseLayout>
