---
import { Image } from "astro:assets";
import whoImg from "../../assets/Image/who-img.png";
import walletImg from "../../assets/icons/Wallet.svg";
import clockImg from "../../assets/icons/Clock.svg";
import type { BespokeCopy } from "../../content/homeVariants";

const { content }: { content: BespokeCopy } = Astro.props;
---

<section class="lg:py-[112px] py-[48px]">
    <div class="max-w-screen-2xl lg:px-20 px-[24px] mx-auto">
        <div
            class="bg-cardColor rounded-[40px] grid md:grid-cols-2 lg:gap-[80px] md:gap-[10px] gap-[8px] overflow-hidden"
        >
            <div class="wrapper order-2 md:order-1 min-h-full min-w-full relative">
                <!-- Background image - easily changeable -->
                <Image 
                    src={whoImg} 
                    alt="Who we are" 
                    class="w-full h-auto rounded-[40px]"
                />
                
                <!-- Overlay SVG with just the animations -->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                     width="600" height="480" viewBox="0 0 600 480" fill="none" 
                     class="absolute inset-0 w-full h-auto rounded-[40px] pointer-events-none">
                    
                    <!-- All white text animations -->
                    <path class="fade-text" d="M52.216 127V115.8H56.008C56.776 115.8 57.448 115.917 58.024 116.152C58.6 116.387 59.048 116.744 59.368 117.224C59.688 117.693 59.848 118.28 59.848 118.984C59.848 119.421 59.736 119.827 59.512 120.2C59.2987 120.563 58.9947 120.877 58.6 121.144C59.1227 121.411 59.5227 121.768 59.8 122.216C60.088 122.653 60.232 123.181 60.232 123.8C60.232 124.483 60.0773 125.064 59.768 125.544C59.4587 126.024 59.0267 126.387 58.472 126.632C57.9173 126.877 57.2667 127 56.52 127H52.216ZM54.36 125.064H56.312C56.8347 125.064 57.2453 124.936 57.544 124.68C57.8427 124.413 57.992 124.061 57.992 123.624C57.992 123.165 57.8267 122.808 57.496 122.552C57.1653 122.285 56.712 122.152 56.136 122.152H54.36V125.064ZM54.36 120.36H56.056C56.536 120.36 56.9147 120.237 57.192 119.992C57.4693 119.747 57.608 119.4 57.608 118.952C57.608 118.504 57.4533 118.157 57.144 117.912C56.8347 117.667 56.4133 117.544 55.88 117.544H54.36V120.36ZM67.1329 127.192C66.0022 127.192 64.9995 126.947 64.1249 126.456C63.2609 125.955 62.5835 125.272 62.0929 124.408C61.6022 123.533 61.3569 122.536 61.3569 121.416C61.3569 120.275 61.6022 119.272 62.0929 118.408C62.5835 117.533 63.2555 116.851 64.1089 116.36C64.9729 115.869 65.9649 115.624 67.0849 115.624C68.2155 115.624 69.2075 115.875 70.0609 116.376C70.9249 116.867 71.6022 117.549 72.0929 118.424C72.5835 119.288 72.8289 120.285 72.8289 121.416C72.8289 122.536 72.5835 123.533 72.0929 124.408C71.6129 125.272 70.9409 125.955 70.0769 126.456C69.2235 126.947 68.2422 127.192 67.1329 127.192ZM67.1329 125.192C67.8155 125.192 68.4129 125.032 68.9249 124.712C69.4475 124.381 69.8529 123.933 70.1409 123.368C70.4395 122.803 70.5889 122.152 70.5889 121.416C70.5889 120.669 70.4395 120.013 70.1409 119.448C69.8422 118.883 69.4315 118.44 68.9089 118.12C68.3862 117.789 67.7782 117.624 67.0849 117.624C66.4129 117.624 65.8102 117.789 65.2769 118.12C64.7542 118.44 64.3435 118.883 64.0449 119.448C63.7462 120.013 63.5969 120.669 63.5969 121.416C63.5969 122.152 63.7462 122.803 64.0449 123.368C64.3435 123.933 64.7595 124.381 65.2929 124.712C65.8262 125.032 66.4395 125.192 67.1329 125.192ZM74.6066 127V115.8H76.7986V125H81.7266V127H74.6066ZM83.2004 127V115.8H86.7844C87.9257 115.8 88.9337 116.04 89.8084 116.52C90.6937 117 91.3817 117.661 91.8724 118.504C92.3737 119.336 92.6244 120.301 92.6244 121.4C92.6244 122.488 92.3737 123.453 91.8724 124.296C91.3817 125.139 90.6937 125.8 89.8084 126.28C88.9337 126.76 87.9257 127 86.7844 127H83.2004ZM85.3924 124.952H86.7844C87.2964 124.952 87.771 124.861 88.2084 124.68C88.6457 124.499 89.0244 124.248 89.3444 123.928C89.675 123.608 89.931 123.235 90.1124 122.808C90.2937 122.371 90.3844 121.901 90.3844 121.4C90.3844 120.899 90.2937 120.435 90.1124 120.008C89.931 119.571 89.675 119.192 89.3444 118.872C89.0244 118.552 88.6457 118.301 88.2084 118.12C87.771 117.939 87.2964 117.848 86.7844 117.848H85.3924V124.952Z" fill="white"/>
                    <path class="fade-text" d="M68.16 336.192C67.072 336.192 66.1067 335.947 65.264 335.456C64.4213 334.955 63.76 334.272 63.28 333.408C62.8 332.533 62.56 331.531 62.56 330.4C62.56 329.269 62.8 328.272 63.28 327.408C63.76 326.533 64.416 325.851 65.248 325.36C66.0907 324.859 67.056 324.608 68.144 324.608C68.912 324.608 69.6267 324.747 70.288 325.024C70.9493 325.291 71.5253 325.669 72.016 326.16C72.5173 326.64 72.9013 327.195 73.168 327.824L71.136 328.576C70.9547 328.181 70.7147 327.84 70.416 327.552C70.1173 327.253 69.776 327.024 69.392 326.864C69.008 326.693 68.592 326.608 68.144 326.608C67.4933 326.608 66.912 326.773 66.4 327.104C65.8987 327.424 65.504 327.867 65.216 328.432C64.9387 328.997 64.8 329.653 64.8 330.4C64.8 331.147 64.944 331.808 65.232 332.384C65.52 332.949 65.92 333.397 66.432 333.728C66.944 334.048 67.5307 334.208 68.192 334.208C68.6507 334.208 69.0667 334.123 69.44 333.952C69.824 333.771 70.16 333.525 70.448 333.216C70.7467 332.907 70.9867 332.549 71.168 332.144L73.2 332.88C72.9333 333.531 72.5493 334.107 72.048 334.608C71.5573 335.109 70.9813 335.499 70.32 335.776C69.6587 336.053 68.9387 336.192 68.16 336.192ZM74.8098 336V324.8H77.0018V334H81.9298V336H74.8098ZM91.1635 336L86.8755 324.8H89.0675L93.4835 336H91.1635ZM82.3155 336L86.7315 324.8H88.9235L84.6355 336H82.3155ZM84.3955 333.536V331.6H91.4195V333.536H84.3955ZM98.5854 336.192C98.02 336.192 97.492 336.123 97.0014 335.984C96.5107 335.845 96.0734 335.653 95.6894 335.408C95.3054 335.152 94.9854 334.869 94.7294 334.56C94.484 334.251 94.324 333.925 94.2494 333.584L96.3934 332.944C96.532 333.307 96.7774 333.621 97.1294 333.888C97.4814 334.144 97.924 334.277 98.4574 334.288C99.0227 334.299 99.4814 334.176 99.8334 333.92C100.196 333.664 100.377 333.333 100.377 332.928C100.377 332.576 100.233 332.283 99.9454 332.048C99.668 331.803 99.284 331.616 98.7934 331.488L97.3374 331.104C96.7934 330.965 96.3134 330.757 95.8974 330.48C95.4814 330.192 95.156 329.84 94.9214 329.424C94.6867 329.008 94.5694 328.523 94.5694 327.968C94.5694 326.912 94.916 326.091 95.6094 325.504C96.3134 324.907 97.3054 324.608 98.5854 324.608C99.3 324.608 99.924 324.715 100.457 324.928C101.001 325.131 101.455 325.424 101.817 325.808C102.18 326.192 102.457 326.645 102.649 327.168L100.521 327.824C100.393 327.461 100.159 327.152 99.8174 326.896C99.476 326.64 99.044 326.512 98.5214 326.512C97.988 326.512 97.5667 326.635 97.2574 326.88C96.9587 327.125 96.8094 327.472 96.8094 327.92C96.8094 328.272 96.9267 328.549 97.1614 328.752C97.4067 328.955 97.7374 329.109 98.1534 329.216L99.6254 329.584C100.585 329.819 101.332 330.24 101.865 330.848C102.399 331.456 102.665 332.133 102.665 332.88C102.665 333.541 102.505 334.123 102.185 334.624C101.865 335.115 101.401 335.499 100.793 335.776C100.185 336.053 99.4494 336.192 98.5854 336.192ZM108.304 336.192C107.739 336.192 107.211 336.123 106.72 335.984C106.229 335.845 105.792 335.653 105.408 335.408C105.024 335.152 104.704 334.869 104.448 334.56C104.203 334.251 104.043 333.925 103.968 333.584L106.112 332.944C106.251 333.307 106.496 333.621 106.848 333.888C107.2 334.144 107.643 334.277 108.176 334.288C108.741 334.299 109.2 334.176 109.552 333.92C109.915 333.664 110.096 333.333 110.096 332.928C110.096 332.576 109.952 332.283 109.664 332.048C109.387 331.803 109.003 331.616 108.512 331.488L107.056 331.104C106.512 330.965 106.032 330.757 105.616 330.48C105.2 330.192 104.875 329.84 104.64 329.424C104.405 329.008 104.288 328.523 104.288 327.968C104.288 326.912 104.635 326.091 105.328 325.504C106.032 324.907 107.024 324.608 108.304 324.608C109.019 324.608 109.643 324.715 110.176 324.928C110.72 325.131 111.173 325.424 111.536 325.808C111.899 326.192 112.176 326.645 112.368 327.168L110.24 327.824C110.112 327.461 109.877 327.152 109.536 326.896C109.195 326.64 108.763 326.512 108.24 326.512C107.707 326.512 107.285 326.635 106.976 326.88C106.677 327.125 106.528 327.472 106.528 327.92C106.528 328.272 106.645 328.549 106.88 328.752C107.125 328.955 107.456 329.109 107.872 329.216L109.344 329.584C110.304 329.819 111.051 330.24 111.584 330.848C112.117 331.456 112.384 332.133 112.384 332.88C112.384 333.541 112.224 334.123 111.904 334.624C111.584 335.115 111.12 335.499 110.512 335.776C109.904 336.053 109.168 336.192 108.304 336.192ZM114.263 336V324.8H116.455V336H114.263ZM123.832 336.192C122.744 336.192 121.779 335.947 120.936 335.456C120.093 334.955 119.432 334.272 118.952 333.408C118.472 332.533 118.232 331.531 118.232 330.4C118.232 329.269 118.472 328.272 118.952 327.408C119.432 326.533 120.088 325.851 120.92 325.36C121.763 324.859 122.728 324.608 123.816 324.608C124.584 324.608 125.299 324.747 125.96 325.024C126.621 325.291 127.197 325.669 127.688 326.16C128.189 326.64 128.573 327.195 128.84 327.824L126.808 328.576C126.627 328.181 126.387 327.84 126.088 327.552C125.789 327.253 125.448 327.024 125.064 326.864C124.68 326.693 124.264 326.608 123.816 326.608C123.165 326.608 122.584 326.773 122.072 327.104C121.571 327.424 121.176 327.867 120.888 328.432C120.611 328.997 120.472 329.653 120.472 330.4C120.472 331.147 120.616 331.808 120.904 332.384C121.192 332.949 121.592 333.397 122.104 333.728C122.616 334.048 123.203 334.208 123.864 334.208C124.323 334.208 124.739 334.123 125.112 333.952C125.496 333.771 125.832 333.525 126.12 333.216C126.419 332.907 126.659 332.549 126.84 332.144L128.872 332.88C128.605 333.531 128.221 334.107 127.72 334.608C127.229 335.109 126.653 335.499 125.992 335.776C125.331 336.053 124.611 336.192 123.832 336.192Z" fill="white"/>
                    
                    <!-- White dots -->
                    <circle cx="171" cy="184" r="4" fill="white"/>
                    <circle cx="358" cy="156" r="4" fill="white"/>
                    <circle cx="388" cy="282" r="4" fill="white"/>
                    <circle cx="258" cy="269" r="4" fill="white"/>
                    
                    <!-- Animated line paths -->
                    <path d="M170.001 183.001L99.1656 135.02C96.7628 133.661 94.0492 132.947 91.2887 132.947L52.0002 132.948"
                          stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="draw-path path1" />
                    
                    <path d="M360.001 155L414.77 109.119C417.214 107.697 419.991 106.947 422.819 106.947L533.501 106.948"
                          stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="draw-path path2" />
                    
                    <path d="M258 269.5L131.125 339.987C128.748 341.308 126.074 342.001 123.354 342.001L63.4994 342.001"
                          stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="draw-path path3" />
                    
                    <path d="M388.501 282L434.247 349.937C437.221 354.353 442.196 357 447.519 357L538.501 357"
                          stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="draw-path path4" />
                    
                    <!-- More text paths -->
                    <path class="fade-text" d="M445.216 349V337.8H447.6L450.864 342.632L454.128 337.8H456.496V349H454.32V341.224L450.864 346.312L447.408 341.24V349H445.216ZM464.055 349.192C462.924 349.192 461.921 348.947 461.047 348.456C460.183 347.955 459.505 347.272 459.015 346.408C458.524 345.533 458.279 344.536 458.279 343.416C458.279 342.275 458.524 341.272 459.015 340.408C459.505 339.533 460.177 338.851 461.031 338.36C461.895 337.869 462.887 337.624 464.007 337.624C465.137 337.624 466.129 337.875 466.983 338.376C467.847 338.867 468.524 339.549 469.015 340.424C469.505 341.288 469.751 342.285 469.751 343.416C469.751 344.536 469.505 345.533 469.015 346.408C468.535 347.272 467.863 347.955 466.999 348.456C466.145 348.947 465.164 349.192 464.055 349.192ZM464.055 347.192C464.737 347.192 465.335 347.032 465.847 346.712C466.369 346.381 466.775 345.933 467.063 345.368C467.361 344.803 467.511 344.152 467.511 343.416C467.511 342.669 467.361 342.013 467.063 341.448C466.764 340.883 466.353 340.44 465.831 340.12C465.308 339.789 464.7 339.624 464.007 339.624C463.335 339.624 462.732 339.789 462.199 340.12C461.676 340.44 461.265 340.883 460.967 341.448C460.668 342.013 460.519 342.669 460.519 343.416C460.519 344.152 460.668 344.803 460.967 345.368C461.265 345.933 461.681 346.381 462.215 346.712C462.748 347.032 463.361 347.192 464.055 347.192ZM471.529 349V337.8H473.817L479.289 345.32V337.8H481.465V349H479.289L473.721 341.336V349H471.529ZM489.024 349.192C487.893 349.192 486.89 348.947 486.016 348.456C485.152 347.955 484.474 347.272 483.984 346.408C483.493 345.533 483.248 344.536 483.248 343.416C483.248 342.275 483.493 341.272 483.984 340.408C484.474 339.533 485.146 338.851 486 338.36C486.864 337.869 487.856 337.624 488.976 337.624C490.106 337.624 491.098 337.875 491.952 338.376C492.816 338.867 493.493 339.549 493.984 340.424C494.474 341.288 494.72 342.285 494.72 343.416C494.72 344.536 494.474 345.533 493.984 346.408C493.504 347.272 492.832 347.955 491.968 348.456C491.114 348.947 490.133 349.192 489.024 349.192ZM489.024 347.192C489.706 347.192 490.304 347.032 490.816 346.712C491.338 346.381 491.744 345.933 492.032 345.368C492.33 344.803 492.48 344.152 492.48 343.416C492.48 342.669 492.33 342.013 492.032 341.448C491.733 340.883 491.322 340.44 490.8 340.12C490.277 339.789 489.669 339.624 488.976 339.624C488.304 339.624 487.701 339.789 487.168 340.12C486.645 340.44 486.234 340.883 485.936 341.448C485.637 342.013 485.488 342.669 485.488 343.416C485.488 344.152 485.637 344.803 485.936 345.368C486.234 345.933 486.65 346.381 487.184 346.712C487.717 347.032 488.33 347.192 489.024 347.192ZM498.553 349V339.8H495.193V337.8H504.089V339.8H500.745V349H498.553ZM510.649 349.192C509.518 349.192 508.515 348.947 507.641 348.456C506.777 347.955 506.099 347.272 505.609 346.408C505.118 345.533 504.873 344.536 504.873 343.416C504.873 342.275 505.118 341.272 505.609 340.408C506.099 339.533 506.771 338.851 507.625 338.36C508.489 337.869 509.481 337.624 510.601 337.624C511.731 337.624 512.723 337.875 513.577 338.376C514.441 338.867 515.118 339.549 515.609 340.424C516.099 341.288 516.345 342.285 516.345 343.416C516.345 344.536 516.099 345.533 515.609 346.408C515.129 347.272 514.457 347.955 513.593 348.456C512.739 348.947 511.758 349.192 510.649 349.192ZM510.649 347.192C511.331 347.192 511.929 347.032 512.441 346.712C512.963 346.381 513.369 345.933 513.657 345.368C513.955 344.803 514.105 344.152 514.105 343.416C514.105 342.669 513.955 342.013 513.657 341.448C513.358 340.883 512.947 340.44 512.425 340.12C511.902 339.789 511.294 339.624 510.601 339.624C509.929 339.624 509.326 339.789 508.793 340.12C508.27 340.44 507.859 340.883 507.561 341.448C507.262 342.013 507.113 342.669 507.113 343.416C507.113 344.152 507.262 344.803 507.561 345.368C507.859 345.933 508.275 346.381 508.809 346.712C509.342 347.032 509.955 347.192 510.649 347.192ZM518.122 349V337.8H520.41L525.882 345.32V337.8H528.058V349H525.882L520.314 341.336V349H518.122ZM530.497 349V337.8H537.585V339.8H532.689V342.344H536.913V344.296H532.689V347H537.649V349H530.497Z" fill="white"/>
                    <path class="fade-text" d="M428.208 96.376L426.144 95.848L429.744 89.8H432.24L428.208 96.376ZM426.08 101V95.624H428.272V101H426.08ZM426.144 96.376L422.112 89.8H424.608L428.208 95.848L426.144 96.376ZM433.575 101V89.8H440.663V91.8H435.767V94.344H439.991V96.296H435.767V99H440.727V101H433.575ZM442.997 101V89.8H445.189V99H450.117V101H442.997ZM451.591 101V89.8H453.783V99H458.711V101H451.591ZM465.086 101.192C463.955 101.192 462.953 100.947 462.078 100.456C461.214 99.9547 460.537 99.272 460.046 98.408C459.555 97.5333 459.31 96.536 459.31 95.416C459.31 94.2747 459.555 93.272 460.046 92.408C460.537 91.5333 461.209 90.8507 462.062 90.36C462.926 89.8693 463.918 89.624 465.038 89.624C466.169 89.624 467.161 89.8747 468.014 90.376C468.878 90.8667 469.555 91.5493 470.046 92.424C470.537 93.288 470.782 94.2853 470.782 95.416C470.782 96.536 470.537 97.5333 470.046 98.408C469.566 99.272 468.894 99.9547 468.03 100.456C467.177 100.947 466.195 101.192 465.086 101.192ZM465.086 99.192C465.769 99.192 466.366 99.032 466.878 98.712C467.401 98.3813 467.806 97.9333 468.094 97.368C468.393 96.8027 468.542 96.152 468.542 95.416C468.542 94.6693 468.393 94.0133 468.094 93.448C467.795 92.8827 467.385 92.44 466.862 92.12C466.339 91.7893 465.731 91.624 465.038 91.624C464.366 91.624 463.763 91.7893 463.23 92.12C462.707 92.44 462.297 92.8827 461.998 93.448C461.699 94.0133 461.55 94.6693 461.55 95.416C461.55 96.152 461.699 96.8027 461.998 97.368C462.297 97.9333 462.713 98.3813 463.246 98.712C463.779 99.032 464.393 99.192 465.086 99.192ZM481.223 101L484.439 89.8H486.663L483.319 101H481.223ZM474.471 101L471.159 89.8H473.383L476.567 101H474.471ZM474.759 101L477.815 89.8H479.799L476.759 101H474.759ZM481.015 101L478.007 89.8H479.991L483.111 101H481.015ZM497.025 101.192C495.884 101.192 494.871 100.947 493.985 100.456C493.111 99.9547 492.423 99.272 491.921 98.408C491.42 97.5333 491.169 96.5307 491.169 95.4C491.169 94.2693 491.42 93.272 491.921 92.408C492.423 91.5333 493.111 90.8507 493.985 90.36C494.871 89.8587 495.884 89.608 497.025 89.608C497.708 89.608 498.337 89.7093 498.913 89.912C499.489 90.1147 499.996 90.3973 500.433 90.76C500.881 91.112 501.255 91.5173 501.553 91.976L499.761 93.096C499.58 92.808 499.34 92.552 499.041 92.328C498.753 92.104 498.433 91.928 498.081 91.8C497.729 91.672 497.377 91.608 497.025 91.608C496.321 91.608 495.697 91.7733 495.153 92.104C494.609 92.424 494.183 92.8667 493.873 93.432C493.564 93.9973 493.409 94.6533 493.409 95.4C493.409 96.136 493.559 96.792 493.857 97.368C494.167 97.944 494.599 98.3973 495.153 98.728C495.708 99.048 496.348 99.208 497.073 99.208C497.639 99.208 498.14 99.096 498.577 98.872C499.025 98.648 499.377 98.3333 499.633 97.928C499.889 97.5227 500.017 97.0533 500.017 96.52L502.097 96.2C502.097 97.256 501.879 98.1573 501.441 98.904C501.015 99.6507 500.417 100.221 499.649 100.616C498.892 101 498.017 101.192 497.025 101.192ZM497.393 96.712V95H502.097V96.36L500.913 96.712H497.393ZM508.836 101.192C507.705 101.192 506.703 100.947 505.828 100.456C504.964 99.9547 504.287 99.272 503.796 98.408C503.305 97.5333 503.06 96.536 503.06 95.416C503.06 94.2747 503.305 93.272 503.796 92.408C504.287 91.5333 504.959 90.8507 505.812 90.36C506.676 89.8693 507.668 89.624 508.788 89.624C509.919 89.624 510.911 89.8747 511.764 90.376C512.628 90.8667 513.305 91.5493 513.796 92.424C514.287 93.288 514.532 94.2853 514.532 95.416C514.532 96.536 514.287 97.5333 513.796 98.408C513.316 99.272 512.644 99.9547 511.78 100.456C510.927 100.947 509.945 101.192 508.836 101.192ZM508.836 99.192C509.519 99.192 510.116 99.032 510.628 98.712C511.151 98.3813 511.556 97.9333 511.844 97.368C512.143 96.8027 512.292 96.152 512.292 95.416C512.292 94.6693 512.143 94.0133 511.844 93.448C511.545 92.8827 511.135 92.44 510.612 92.12C510.089 91.7893 509.481 91.624 508.788 91.624C508.116 91.624 507.513 91.7893 506.98 92.12C506.457 92.44 506.047 92.8827 505.748 93.448C505.449 94.0133 505.3 94.6693 505.3 95.416C505.3 96.152 505.449 96.8027 505.748 97.368C506.047 97.9333 506.463 98.3813 506.996 98.712C507.529 99.032 508.143 99.192 508.836 99.192ZM516.31 101V89.8H518.502V99H523.43V101H516.31ZM524.904 101V89.8H528.488C529.629 89.8 530.637 90.04 531.512 90.52C532.397 91 533.085 91.6613 533.576 92.504C534.077 93.336 534.328 94.3013 534.328 95.4C534.328 96.488 534.077 97.4533 533.576 98.296C533.085 99.1387 532.397 99.8 531.512 100.28C530.637 100.76 529.629 101 528.488 101H524.904ZM527.096 98.952H528.488C529 98.952 529.474 98.8613 529.912 98.68C530.349 98.4987 530.728 98.248 531.048 97.928C531.378 97.608 531.634 97.2347 531.816 96.808C531.997 96.3707 532.088 95.9013 532.088 95.4C532.088 94.8987 531.997 94.4347 531.816 94.008C531.634 93.5707 531.378 93.192 531.048 92.872C530.728 92.552 530.349 92.3013 529.912 92.12C529.474 91.9387 529 91.848 528.488 91.848H527.096V98.952Z" fill="white"/>
                </svg>
            </div>

            <div
                class="flex flex-col justify-center lg:py-[0px] p-[24px] lg:px-0 order-1 md:order-2"
            >
                <h2
                    class="lg:text-[52px] text-[32px] md:text-[28px] leading-[36px] lg:leading-[56px] lg:font-black font-normal text-textPrimary font-ppradio"
                >
                    {content.heading}
                </h2>
                <p
                    class="text-textSecondary text-[20px] leading-[24px] font-figtree lg:mt-[16px] mt-[8px] lg:mb-[64px] mb-[32px]"
                >
                    {content.intro}
                </p>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-[24px]">
                    <div class="w-full">
                        <div class="flex items-start gap-[16px] lg:mb-[17px] mb-[10px]">
                            <div
                                class="bg-[linear-gradient(76deg,#B9F551_22.87%,#DDF456_74.01%)] 
lg:rounded-[20px] rounded-[16px] lg:w-[64px] w-[52px] lg:h-[64px] h-[52px] flex items-center justify-center font-bold"
                            >
                                <Image
                                    src={walletImg}
                                    alt="wallet"
                                    class="w-[27.35px] h-auto rounded-[40px]"
                                />
                            </div>
                            <div>
                                <p
                                    class="lg:text-[32px] text-[22px] lg:leading-[36px] leading-[26px] font-black text-textPrimary font-ppradio"
                                >
                                    {content.budgetValue}
                                </p>
                                <p
                                    class="text-textPrimary font-figtree lg:text-[20px] text-[16px] font-bold lg:leading-[24px] leading-[20px]"
                                >
                                    {content.budgetLabel}
                                </p>
                            </div>
                        </div>
                        <p
                            class="lg:text-[18px] md:text-[14px] text-[16px] lg:leading-[22px] leading-[20px] text-textPrimary font-figtree lg:pe-16"
                        >
                            {content.budgetDescription}
                        </p>
                    </div>

                    <div class="w-full">
                        <div class="flex items-start gap-[16px] lg:mb-[17px] mb-[10px]">
                            <div
                                class="bg-[linear-gradient(76deg,#B9F551_22.87%,#DDF456_74.01%)] lg:rounded-[20px] rounded-[16px] lg:w-[64px] w-[52px] lg:h-[64px] h-[52px] flex items-center justify-center font-bold"
                            >
                                <Image
                                    src={clockImg}
                                    alt="wallet"
                                    class="w-[27.35px] h-auto rounded-[40px]"
                                />
                            </div>
                            <div>
                                <p
                                    class="lg:text-[32px] text-[22px] lg:leading-[36px] leading-[26px] font-black text-textPrimary font-ppradio"
                                >
                                    {content.timeValue}
                                </p>
                                <p
                                    class="text-textPrimary font-figtree lg:text-[20px] text-[16px] font-bold lg:leading-[24px] leading-[20px]"
                                >
                                    {content.timeLabel}
                                </p>
                            </div>
                        </div>
                        <p
                            class="lg:text-[18px] text-[16px] md:text-[14px] lg:leading-[22px] leading-[20px] text-textPrimary font-figtree lg:pe-16"
                        >
                            {content.timeDescription}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
