---
import { Image } from "astro:assets";
import cardImg from "../../assets/Image/jws-img.png";
import cardImg1 from "../../assets/Image/jws-img-1.png";
import cardImg2 from "../../assets/Image/jws-img-2.png";
import cardImg3 from "../../assets/Image/jws-img-3.png";
import cardImg4 from "../../assets/Image/jws-img-4.png";
import cardImg5 from "../../assets/Image/jws-img-5.png";
import cardImg6 from "../../assets/Image/jws-img-6.png";
import cardImg7 from "../../assets/Image/jws-img-7.png";
import cardImg8 from "../../assets/Image/jws-img-8.png";
import cardImg9 from "../../assets/Image/jws-img-9.png";
import cardImg10 from "../../assets/Image/jws-img-10.png";
import cardImg11 from "../../assets/Image/jws-img-11.png";
import cardImg12 from "../../assets/Image/jws-img-12.png";
---

<section class="lg:py-[112px] py-[48px]">
    <div class="max-w-screen-2xl lg:px-20 px-[24px] mx-auto">
        <!-- Heading -->
        <div class="text-center lg:mb-[80px] mb-[24px] max-w-[768px] mx-auto overflow-hidden">
            <h3 data-aos="fade-up"
                class="lg:text-[52px] text-center text-[32px] md:text-[28px] leading-[36px] lg:leading-[56px] font-black  text-textPrimary font-figtree m-0"
            >
                Meet some of our talented makers
            </h3>
            <p
                class="lg:text-[20px] text-[18px] lg:leading-[24px] leading-[22px] text-textSecondary font-figtree text-center mt-[16px]"
            >
                They bring the craftsmanship. You bring the vision.
            </p>
        </div>

        <!-- 3 Column Layout -->
        <div
            class="grid lg:gap-[32px] gap-[20px] md:grid-cols-1 lg:grid-cols-3 jws-card relative"
        >
            <!-- Left Column -->
            <div class="lg:space-y-[24px] space-y-[20px]">
                <div
                    class="flex items-center lg:gap-[24px] gap-[16px] lg:rounded-[20px] rounded-[16px] acd-shadow"
                >
                    <Image
                        src={cardImg1}
                        class="w-[126px] md:h-[132px] h-[110px] lg:rounded-[20px] rounded-[16px] object-cover"
                        alt="user-img"
                    />
                    <div>
                        <h3
                            class="font-bold text-[18px] lg:text-[20px] text-textPrimary font-figtree"
                        >
                            Ami Blastock
                        </h3>
                        <p
                            class="text-[16px] lg:text-[18px] text-textSecondary font-figtree"
                        >
                            Kent
                        </p>
                        <p
                            class="text-[16px] lg:text-[18px] text-textPrimary mt-[16px] font-figtree"
                        >
                            Ami Blastock Jewellery
                        </p>
                    </div>
                </div>

                <div
                    class="flex items-center lg:gap-[24px] gap-[16px] lg:rounded-[20px] rounded-[16px] acd-shadow"
                >
                    <Image
                        src={cardImg2}
                        class="w-[126px] md:h-[132px] h-[110px] lg:rounded-[20px] rounded-[16px] object-cover"
                        alt="user-img"
                    />
                 
                     <div>
                        <h3
                            class="font-bold text-[18px] lg:text-[20px] text-textPrimary font-figtree"
                        >
                            Ami Blastock
                        </h3>
                        <p
                            class="text-[16px] lg:text-[18px] text-textSecondary font-figtree"
                        >
                            Kent
                        </p>
                        <p
                            class="text-[16px] lg:text-[18px] text-textPrimary mt-[16px] font-figtree"
                        >
                            Ami Blastock Jewellery
                        </p>
                    </div>
                </div>

                <div
                    class="flex items-center lg:gap-[24px] gap-[16px] lg:rounded-[20px] rounded-[16px] acd-shadow"
                >
                    <Image
                        src={cardImg3}
                        class="w-[126px] md:h-[132px] h-[110px] lg:rounded-[20px] rounded-[16px] object-cover"
                        alt="user-img"
                    />
                    <div>
                    
                        <div>
                        <h3
                            class="font-bold text-[18px] lg:text-[20px] text-textPrimary font-figtree"
                        >
                            Edward Xu
                        </h3>
                        <p
                            class="text-[16px] lg:text-[18px] text-textSecondary font-figtree"
                        >
                            London
                        </p>
                        <p
                            class="text-[16px] lg:text-[18px] text-textPrimary mt-[16px] font-figtree"
                        >
                            EDXÚ
                        </p>
                    </div> 
                    </div>
                </div>
                <div
                    class="flex items-center lg:gap-[24px] gap-[16px] lg:rounded-[20px] rounded-[16px] acd-shadow"
                >
                    <Image
                        src={cardImg4}
                        class="w-[126px] md:h-[132px] h-[110px] lg:rounded-[20px] rounded-[16px] object-cover"
                        alt="user-img"
                    />
                    <div>
                        <h3
                            class="font-bold text-[18px] lg:text-[20px] text-textPrimary font-figtree"
                        >
                            Emma Mogridge
                        </h3>
                        <p
                            class="text-[16px] lg:text-[18px] text-textSecondary font-figtree"
                        >
                            Devon
                        </p>
                        <p
                            class="text-[16px] lg:text-[18px] text-textPrimary mt-[16px] font-figtree"
                        >
                            Emma Mogridge Jewellery
                        </p>
                    </div>
                </div>
            </div>

            <!-- Middle Column -->
            <div class="lg:space-y-[24px] space-y-[20px]">

                <div
                    class="flex items-center lg:gap-[24px] gap-[16px] lg:rounded-[20px] rounded-[16px] acd-shadow"
                >
                    <Image
                        src={cardImg5}
                        class="w-[126px] md:h-[132px] h-[110px] lg:rounded-[20px] rounded-[16px] object-cover"
                        alt="user-img"
                    />
                    <div>
                        <h3
                            class="font-bold text-[18px] lg:text-[20px] text-textPrimary font-figtree"
                        >
                           Emily Fletcher
                        </h3>
                        <p
                            class="text-[16px] lg:text-[18px] text-textSecondary font-figtree"
                        >
                           Location
                        </p>
                        <p
                            class="text-[16px] lg:text-[18px] text-textPrimary mt-[16px] font-figtree"
                        >
                         Emily Lisbeth Jewellery
                        </p>
                    </div>
                </div>

                <div
                    class="flex items-center lg:gap-[24px] gap-[16px] lg:rounded-[20px] rounded-[16px] acd-shadow"
                >
                    <Image
                        src={cardImg6}
                        class="w-[126px] md:h-[132px] h-[110px] lg:rounded-[20px] rounded-[16px] object-cover"
                        alt="user-img"
                    />
                    <div>
                        <h3
                            class="font-bold text-[18px] lg:text-[20px] text-textPrimary font-figtree"
                        >
                           Marketa Garne
                        </h3>
                        <p
                            class="text-[16px] lg:text-[18px] text-textSecondary font-figtree"
                        >
                         Cornwall
                        </p>
                        <p
                            class="text-[16px] lg:text-[18px] text-textPrimary mt-[16px] font-figtree"
                        >
                           Booblinka Jewellery
                        </p>
                    </div>
                </div>
                <div
                    class="flex items-center lg:gap-[24px] gap-[16px] lg:rounded-[20px] rounded-[16px] acd-shadow"
                >
                    <Image
                        src={cardImg}
                        class="w-[126px] md:h-[132px] h-[110px] lg:rounded-[20px] rounded-[16px] object-cover"
                        alt="user-img"
                    />
                    <div>
                        <h3
                            class="font-bold text-[18px] lg:text-[20px] text-textPrimary font-figtree"
                        >
                         Charles Moreton
                        </h3>
                        <p
                            class="text-[16px] lg:text-[18px] text-textSecondary font-figtree"
                        >
                        York
                        </p>
                        <p
                            class="text-[16px] lg:text-[18px] text-textPrimary mt-[16px] font-figtree"
                        >
                        Charles Alexander Jewellery
                        </p>
                    </div>
                </div>
                <div
                    class="flex items-center lg:gap-[24px] gap-[16px] lg:rounded-[20px] rounded-[16px] acd-shadow"
                >
                    <Image
                        src={cardImg7}
                        class="w-[126px] md:h-[132px] h-[110px] lg:rounded-[20px] rounded-[16px] object-cover"
                        alt="user-img"
                    />
                    <div>
                        <h3
                            class="font-bold text-[18px] lg:text-[20px] text-textPrimary font-figtree"
                        >
                           Caroline Brook
                        </h3>
                        <p
                            class="text-[16px] lg:text-[18px] text-textSecondary font-figtree"
                        >
                         Surrey
                        </p>
                        <p
                            class="text-[16px] lg:text-[18px] text-textPrimary mt-[16px] font-figtree"
                        >
                          Caroline Brook Jewellery
                        </p>
                    </div>
                </div>
            </div>

            <!-- Right Column -->
            <div class="lg:space-y-[24px] space-y-[20px]">
               
                <div
                    class="flex items-center lg:gap-[24px] gap-[16px] lg:rounded-[20px] rounded-[16px] acd-shadow"
                >
                    <Image
                        src={cardImg9}
                        class="w-[126px] md:h-[132px] h-[110px] lg:rounded-[20px] rounded-[16px] object-cover"
                        alt="user-img"
                    />
                    <div>
                        <h3
                            class="font-bold text-[18px] lg:text-[20px] text-textPrimary font-figtree"
                        >
                           Lindsay Forbes
                        </h3>
                        <p
                            class="text-[16px] lg:text-[18px] text-textSecondary font-figtree"
                        >
                            Durham
                        </p>
                        <p
                            class="text-[16px] lg:text-[18px] text-textPrimary mt-[16px] font-figtree"
                        >
                        Laconic Jewellery
                        </p>
                    </div>
                </div>
                 <div
                    class="flex items-center lg:gap-[24px] gap-[16px] lg:rounded-[20px] rounded-[16px] acd-shadow"
                >
                    <Image
                        src={cardImg10}
                        class="w-[126px] md:h-[132px] h-[110px] lg:rounded-[20px] rounded-[16px] object-cover"
                        alt="user-img"
                    />
                    <div>
                        <h3
                            class="font-bold text-[18px] lg:text-[20px] text-textPrimary font-figtree"
                        >
                          Estelle Dévé
                        </h3>
                        <p
                            class="text-[16px] lg:text-[18px] text-textSecondary font-figtree"
                        >
                            London
                        </p>
                        <p
                            class="text-[16px] lg:text-[18px] text-textPrimary mt-[16px] font-figtree"
                        >
                     Dévé
                        </p>
                    </div>
                </div>
                 <div
                    class="flex items-center lg:gap-[24px] gap-[16px] lg:rounded-[20px] rounded-[16px] acd-shadow"
                >
                    <Image
                        src={cardImg11}
                        class="w-[126px] md:h-[132px] h-[110px] lg:rounded-[20px] rounded-[16px] object-cover"
                        alt="user-img"
                    />
                    <div>
                        <h3
                            class="font-bold text-[18px] lg:text-[20px] text-textPrimary font-figtree"
                        >
                        Halina M. Hamalambo
                        </h3>
                        <p
                            class="text-[16px] lg:text-[18px] text-textSecondary font-figtree"
                        >Brighton
                        </p>
                        <p
                            class="text-[16px] lg:text-[18px] text-textPrimary mt-[16px] font-figtree"
                        >
                    Halina Mutinta Jewellery
                        </p>
                    </div>
                </div>
                 <div
                    class="flex items-center lg:gap-[24px] gap-[16px] lg:rounded-[20px] rounded-[16px] acd-shadow"
                >
                    <Image
                        src={cardImg12}
                        class="w-[126px] md:h-[132px] h-[110px] lg:rounded-[20px] rounded-[16px] object-cover"
                        alt="user-img"
                    />
                    <div>
                        <h3
                            class="font-bold text-[18px] lg:text-[20px] text-textPrimary font-figtree"
                        >
                      Bryony Wong
                        </h3>
                        <p
                            class="text-[16px] lg:text-[18px] text-textSecondary font-figtree"
                        >London
                        </p>
                        <p
                            class="text-[16px] lg:text-[18px] text-textPrimary mt-[16px] font-figtree"
                        >
                Bryony Wong
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
