---
import { Image } from "astro:assets";
import cardImg from "../../assets/Image/jws-img.png";
import cardImg1 from "../../assets/Image/jws-img-1.png";
import cardImg2 from "../../assets/Image/jws-img-2.png";
import cardImg3 from "../../assets/Image/jws-img-3.png";
import cardImg4 from "../../assets/Image/jws-img-4.png";
import cardImg5 from "../../assets/Image/jws-img-5.png";
import cardImg6 from "../../assets/Image/jws-img-6.png";
import cardImg7 from "../../assets/Image/jws-img-7.png";
import cardImg8 from "../../assets/Image/jws-img-8.png";
import cardImg9 from "../../assets/Image/jws-img-9.png";
import cardImg10 from "../../assets/Image/jws-img-10.png";
import cardImg11 from "../../assets/Image/jws-img-11.png";
import cardImg12 from "../../assets/Image/jws-img-12.png";
import cardImg13 from "../../assets/Image/jws-img-13.png";
import cardImg14 from "../../assets/Image/jws-img-14.png";
import cardImg15 from "../../assets/Image/jws-img-15.png";
import cardImg16 from "../../assets/Image/jws-img-16.png";
import cardImg17 from "../../assets/Image/jws-img-17.png";
import cardImg18 from "../../assets/Image/jws-img-18.png";
import cardImg19 from "../../assets/Image/jws-img-19.png";
import cardImg20 from "../../assets/Image/jws-img-20.png";
import cardImg21 from "../../assets/Image/jws-img-21.png";
import cardImg22 from "../../assets/Image/jws-img-22.png";
import cardImg23 from "../../assets/Image/jws-img-23.png";
import cardImg24 from "../../assets/Image/jws-img-24.png";
import cardImg25 from "../../assets/Image/jws-img-25.png";
import cardImg26 from "../../assets/Image/jws-img-26.png";
import cardImg27 from "../../assets/Image/jws-img-27.png";
import cardImg28 from "../../assets/Image/jws-img-28.png";
import cardImg29 from "../../assets/Image/jws-img-29.png";
import cardImg30 from "../../assets/Image/jws-img-30.png";
import cardImg31 from "../../assets/Image/jws-img-31.png";
import cardImg32 from "../../assets/Image/jws-img-32.png";
import cardImg33 from "../../assets/Image/jws-img-33.png";
import cardImg34 from "../../assets/Image/jws-img-34.png";
import cardImg35 from "../../assets/Image/jws-img-35.png";
import cardImg36 from "../../assets/Image/jws-img-36.png";
import cardImg37 from "../../assets/Image/jws-img-37.png";
import cardImg38 from "../../assets/Image/jws-img-38.png";
import cardImg39 from "../../assets/Image/jws-img-39.png";
import cardImg40 from "../../assets/Image/jws-img-40.png";
import cardImg41 from "../../assets/Image/jws-img-41.png";
import cardImg42 from "../../assets/Image/jws-img-42.png";
import cardImg43 from "../../assets/Image/jws-img-43.png";

const jewellers = [
  {
    id: 1,
    img: cardImg2,
    name: "Ami Blastock",
    location: "Kent",
    bio: "Ami Blastock Jewellery",
  },
  {
    id: 2,
    img: cardImg3,
    name: "Edward Xu",
    location: "London",
    bio: "EDXÚ",
  },
  {
    id: 3,
    img: cardImg4,
    name: "Emma Mogridge",
    location: "Devon",
    bio: "Emma Mogridge Jewellery",
  },
  {
    id: 4,
    img: cardImg1,
    name: "Caitriona Campbell",
    location: "Belfast",
    bio: "Aille Jewellery",
  },
  {
    id: 5,
    img: cardImg6,
    name: "Marketa Garne",
    location: "Cornwall",
    bio: "Booblinka Jewellery",
  },
  {
    id: 6,
    img: cardImg,
    name: "Charles Moreton",
    location: "York",
    bio: "Charles Alexander Jewellery",
  },
  {
    id: 7,
    img: cardImg7,
    name: "Caroline Brook",
    location: "Surrey",
    bio: "Caroline Brook Jewellery",
  },
  {
    id: 8,
    img: cardImg9,
    name: "Lindsay Forbes",
    location: "Durham",
    bio: "Laconic Jewellery",
  },
  {
    id: 10,
    img: cardImg10,
    name: "Estelle Dévé",
    location: "London",
    bio: "Dévé",
  },
  {
    id: 11,
    img: cardImg11,
    name: "Halina M. Hamalambo",
    location: "Brighton",
    bio: "Halina Mutinta Jewellery",
  },
  {
    id: 12,
    img: cardImg5,
    name: "Halina M. Hamalambo",
    location: "Brighton",
    bio: "Halina Mutinta Jewellery",
  },
  {
    id: 13,
    img: cardImg12,
    name: "Bryony Wong",
    location: "London",
    bio: "Bryony Wong",
  },
  {
    id: 14,
    img: cardImg14,
    name: "Philippa Dunn",
    location: "Kent",
    bio: "Polly Gasston Jewellery",
  },
  {
    id: 15,
    img: cardImg15,
    name: "Poppy Elder",
    location: "West Midlands",
    bio: "Poppy Elder Fine Jewellery",
  },
  {
    id: 16,
    img: cardImg16,
    name: "Natalia Rafi",
    location: "Derby",
    bio: "Natalia Rafi Jewellery",
  },
  {
    id: 17,
    img: cardImg17,
    name: "Richard Chown",
    location: "Kent",
    bio: "Richard Chown Jewellery",
  },
  {
    id: 18,
    img: cardImg18,
    name: "Catherine Fiabane",
    location: "Perthshire",
    bio: "The Lane Fine Jewellery",
  },
  {
    id: 19,
    img: cardImg19,
    name: "Shazan",
    location: "London",
    bio: "Gemdaia",
  },
  {
    id: 20,
    img: cardImg20,
    name: "Jade Hibbert",
    location: "Bedfordshire",
    bio: "Jwllry By Jade",
  },
  {
    id: 21,
    img: cardImg21,
    name: "Issy White",
    location: "Sussex",
    bio: "Issy White Jewellery",
  },
  {
    id: 22,
    img: cardImg22,
    name: "Julie Nicaisse",
    location: "London",
    bio: "Julie Nicaisse Jewellery",
  },
  {
    id: 23,
    img: cardImg23,
    name: "Diana Sherling",
    location: "London",
    bio: "Lily Flo Jewellery",
  },
  {
    id: 24,
    img: cardImg24,
    name: "Sarah Hickey",
    location: "Northumberland",
    bio: "Sarah Hickey Jewellery Ltd",
  },
  {
    id: 25,
    img: cardImg25,
    name: "Will Odell",
    location: "Buckinghamshire",
    bio: "Will Odell Designs",
  },
  {
    id: 26,
    img: cardImg26,
    name: "Claire Macfarlane",
    location: "London",
    bio: "Claire Macfarlane Jewellery",
  },
  {
    id: 27,
    img: cardImg27,
    name: "Liz Stovell",
    location: "London",
    bio: "Untold Jewellery",
  },
  {
    id: 28,
    img: cardImg28,
    name: "Jodie Gearing",
    location: "Bedfordshire",
    bio: "Jodie Gearing Bespoke Jewellery",
  },
  {
    id: 29,
    img: cardImg29,
    name: "Luke Brient",
    location: "Norfolk",
    bio: "Luke Brient",
  },
  {
    id: 30,
    img: cardImg30,
    name: "Trang Do",
    location: "London",
    bio: "Kimjoux",
  },
  {
    id: 31,
    img: cardImg31,
    name: "Erin Cox",
    location: "Devon",
    bio: "Erin Cox Jewellery",
  },
  {
    id: 32,
    img: cardImg32,
    name: "Rosie Clayden",
    location: "East Sussex",
    bio: "Rosie Clayden Jewellery",
  },
  {
    id: 33,
    img: cardImg33,
    name: "Rosie Priestley",
    location: "Lincolnshire",
    bio: "Rosie Priestley Jewellery",
  },
  {
    id: 34,
    img: cardImg34,
    name: "Kiya Corrales",
    location: "West Midlands",
    bio: "Kiya Corrales",
  },
  {
    id: 35,
    img: cardImg35,
    name: "Guillaume Stapylton-Smith",
    location: "London",
    bio: "Stapylton-Smith",
  },
  {
    id: 36,
    img: cardImg36,
    name: "Maud Traon",
    location: "London",
    bio: "Maud Traon",
  },
  {
    id: 37,
    img: cardImg37,
    name: "Lucy Jade Sylvester",
    location: "Oxfordshire",
    bio: "Lucy Jade Sylvester Jewellery",
  },
  {
    id: 38,
    img: cardImg38,
    name: "Madeleine Holloway",
    location: "Oxfordshire",
    bio: "Madeleine Holloway",
  },
  {
    id: 39,
    img: cardImg39,
    name: "Daisy Munn",
    location: "Devon",
    bio: "Tide & Trove",
  },
  {
    id: 40,
    img: cardImg40,
    name: "Radek Makar",
    location: "Scotland",
    bio: "Lelya",
  },
  {
    id: 41,
    img: cardImg41,
    name: "Hannah Louise Lamb",
    location: "Scotland",
    bio: "Hannah Louise Lamb",
  },
  {
    id: 42,
    img: cardImg42,
    name: "Joanne Hunt",
    location: "Tyne and Wear",
    bio: "Rockpool Jewellery",
  },
  {
    id: 43,
    img: cardImg43,
    name: "Rebecca Ann Oakes",
    location: "East Sussex",
    bio: "Rebekah Ann Jewellery",
  },
];
---

<section class="py-section-padding-mobile lg:py-section-padding-desktop">
  <div class="max-w-container-max-width px-container-padding-mobile lg:px-container-padding-desktop mx-auto">
    <!-- Heading -->
    <div
      class="text-center lg:mb-grid-gap-desktop mb-text-gap-medium max-w-[768px] mx-auto overflow-hidden"
    >
      <h3
        data-aos="fade-up"
        class="lg:text-heading-desktop text-center text-heading-mobile md:text-subheading-mobile leading-heading-mobile lg:leading-heading-desktop font-black text-textPrimary font-ppradio m-0"
      >
        Meet some of our talented makers
      </h3>
      <p
        class="lg:text-large-desktop text-body-desktop lg:leading-large-desktop leading-large-mobile text-textSecondary font-figtree text-center mt-text-gap-small"
      >
        Independent jewellers, ready to bring your ideas to life.
      </p>
    </div>

    <!-- 3 Column Layout -->
    <div
      class="grid lg:gap-s gap-m md:grid-cols-1 lg:grid-cols-3 jws-card relative"
    >
      <!-- Left Column -->
      <div
        id=""
        class="scrollContainer overflow-hidden relative"
        data-direction="up"
      >
        <div id="" class="scrollContent flex flex-col space-y-s">
          {
            [...jewellers]
              .sort(() => Math.random() - 0.5)
              .map((item) => (
                <div class="flex items-center gap-4 rounded-m acd-shadow">
                  <Image
                    src={item.img}
                    class="w-[126px] md:h-[132px] h-[110px] rounded-[12px] object-cover"
                    alt="user-img"
                  />
                  <div>
                    <h3 class="font-bold text-body-desktop lg:text-large-desktop text-textPrimary font-figtree">
                      {item.name}
                    </h3>
                    <p class="text-body-mobile lg:text-body-desktop text-textSecondary font-figtree">
                      {item.location}
                    </p>
                    <p class="text-body-mobile lg:text-body-desktop text-textPrimary mt-text-gap-small font-figtree">
                      {item.bio}
                    </p>
                  </div>
                </div>
              ))
          }
        </div>
      </div>

      <!-- Middle Column -->
      <div
        id="scrollContainer"
        class="scrollContainer hidden lg:block overflow-hidden relative"
        data-direction="down"
      >
        <div
          id="scrollContent"
          class="scrollContent flex flex-col space-y-s"
        >
          {
            [...jewellers]
              .sort(() => Math.random() - 0.8)
              .map((item) => (
                <div class="flex items-center gap-4 rounded-m acd-shadow">
                  <Image
                    src={item.img}
                    class="w-[126px] md:h-[132px] h-[110px] rounded-[12px] object-cover"
                    alt="user-img"
                  />
                  <div>
                    <h3 class="font-bold text-body-desktop lg:text-large-desktop text-textPrimary font-figtree">
                      {item.name}
                    </h3>
                    <p class="text-body-mobile lg:text-body-desktop text-textSecondary font-figtree">
                      {item.location}
                    </p>
                    <p class="text-body-mobile lg:text-body-desktop text-textPrimary mt-text-gap-small font-figtree">
                      {item.bio}
                    </p>
                  </div>
                </div>
              ))
          }
        </div>
      </div>

      <!-- Right Column -->
      <div
        class="scrollContainer overflow-hidden relative hidden lg:block"
        data-direction="up"
      >
        <div
          class="scrollContent flex flex-col space-y-s"
        >
          {
            [...jewellers]
              .sort(() => Math.random() - 0.3)
              .map((item) => (
                <div class="flex items-center gap-4 rounded-m acd-shadow">
                  <Image
                    src={item.img}
                    class="w-[126px] md:h-[132px] h-[110px] rounded-[12px] object-cover"
                    alt="user-img"
                  />
                  <div>
                    <h3 class="font-bold text-body-desktop lg:text-large-desktop text-textPrimary font-figtree">
                      {item.name}
                    </h3>
                    <p class="text-body-mobile lg:text-body-desktop text-textSecondary font-figtree">
                      {item.location}
                    </p>
                    <p class="text-body-mobile lg:text-body-desktop text-textPrimary mt-text-gap-small font-figtree">
                      {item.bio}
                    </p>
                  </div>
                </div>
              ))
          }
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    const containers = document.querySelectorAll(".scrollContainer");

    containers.forEach((container) => {
      const content = container.querySelector(".scrollContent");

      // Duplicate cards for seamless scroll
      content.innerHTML += content.innerHTML;

      // Dynamically set container height = 4 cards
      const cardHeight = content.children[0].offsetHeight;
      const gap = parseInt(getComputedStyle(content).gap) || 16;
      container.style.height = cardHeight * 4 + gap * 3 + "px";

      // Direction control (default = down)
      const direction = container.dataset.direction || "down"; // "up" or "down"
      const speed = 0.3; // adjust as needed
      let y = direction === "up" ? content.scrollHeight / 2 : 0;

      function animateScroll() {
        if (direction === "up") {
          y -= speed;
          if (y <= 0) y = content.scrollHeight / 2; // reset for seamless loop
        } else {
          y += speed;
          if (y >= content.scrollHeight / 2) y = 0; // reset for seamless loop
        }

        container.scrollTop = y;
        requestAnimationFrame(animateScroll);
      }

      requestAnimationFrame(animateScroll);
    });
  </script>
</section>