---
import { Image } from "astro:assets";
import blog1 from "../../assets/Image/blog1.jpg";
import rightShift from "../../assets/icons/right-shift.png";
import badge from "../../assets/icons/Badge-blog.svg";
import link from "../../assets/icons/Link.svg";
import linkedin from "../../assets/icons/Linkedin.svg";
import facebook from "../../assets/icons/Facebook.svg";
import twitter from "../../assets/icons/X.svg";
import BlogContent from "./BlogContent.astro";
import RelatedPosts from './RelatedPosts.astro'
---

<section class="md:pt-[112px] md:pb-[32px] pt-[24px]">
  <div class="max-w-screen-2xl lg:px-20 px-[24px] mx-auto pb-[8px]">
    <div class="flex flex-col lg:flex-row lg:gap-10 xl:gap-20">
      <div class="flex flex-col justify-between mb-[48px] lg:mb-0">
        <div class="pb-[20px] md:pb-[24px] mb-[24px] md:mb-[20px]">
          <div
            class="mb-[20px] md:mb-[24px] flex justify-start items-center gap-1"
          >
            <a
              href="/blog"
              class="font-figtree font-normal text-[16px] leading-[20px] text-textSecondary"
              >Blog</a
            ><Image src={rightShift} class="h-3 w-3" alt="hero-image" />
            <span
              class="font-figtree font-normal text-[16px] leading-[20px] text-textSecondary"
              >Category</span>
          </div>
          <h1
            class="font-figtree font-black text-textPrimary text-[32px] leading-[36px] md:text-[52px] md:leading-[56px]"
          >
            Blog title heading will go here
          </h1>
        </div>
        <div>
          <div class="mb-[16px] md:mb-[32px] w-full flex items-center gap-[12px]">
            <span
              class="font-figtree font-normal text-sm leading-[18px] text-textSecondary"
              >12 Aug 2025</span
            >
            <Image src={badge} alt="blog image" class="h-2 w-2" />
            <span
              class="font-figtree font-normal text-sm leading-[18px] text-textSecondary"
              >5 min read</span
            >
          </div>

          <div>
            <p
              class="font-figtree font-normal text-[16px] leading-[20px] text-textPrimary mb-[16px]"
            >
              Share this post
            </p>
            <div class="flex items-center gap-2">
              <a href="" class="h-9 w-9 rounded-[12px] p-2 bg-cardColor">
                <Image src={link} alt="blog image" class="h-5 w-5" /></a
              >
              <a href="" class="h-9 w-9 rounded-[12px] p-2 bg-cardColor">
                <Image src={facebook} alt="blog image" class="h-5 w-5" /></a
              >
              <a href="" class="h-9 w-9 rounded-[12px] p-2 bg-cardColor">
                <Image src={linkedin} alt="blog image" class="h-5 w-5" /></a
              >
              <a href="" class="h-9 w-9 rounded-[12px] p-2 bg-cardColor">
                <Image src={twitter} alt="blog image" class="h-5 w-5" /></a
              >
            </div>
          </div>
        </div>
      </div>

      <div>
        <Image
          src={blog1}
          class="rounded-[24px] xl:w-[600px] xl:h-[425px]"
          alt="hero-image"
        />
      </div>
    </div>
  </div>
</section>
<!-- blog content -->
<section>
    <BlogContent/>
</section>
<section>
    <RelatedPosts/>
</section>