---
import { Image } from "astro:assets";
import localBirdImage from "../../assets/Logo.svg";
import mobileLogo from "../../assets/mobile-logo.svg";
import openMenuIcon from "../../assets/icons/menu-line.svg";
import closeMenuIcon from "../../assets/icons/close.svg";
import arrow from "../../assets/icons/dropdown-arrow.svg";
import navMenu from '../../assets/icons/toggle-nav.svg'

const links = [
  { name: "How It Works", href: "/how-it-works" },
  { name: "Inspiration", href: "/inspiration" },
  {
    name: "Learn More",
    dropdown: [
      { name: "About Us", href: "/about-us" },
      { name: "Our Jewellers", href: "/our-jewellers" },
      { name: "Our Technology", href: "/our-technology" },
      { name: "Blog", href: "/blogs" },
    ],
  },
  { name: "For Jewellers", href: "/for-jewellers" },
];
---

<header class=" bg-white md:pt-[12px] lg:px-[48px] pt-[8px] px-[12px] md:px-[24px]">
  <nav
    class="bg-secondary md:py-5 py-[11px] pl-[16px] pr-[17px] md:px-8 md:rounded-3xl rounded-[16px] flex justify-between items-center"
  >
    <!-- Logo -->
    <a href="/">
      <Image
        src={localBirdImage}
        alt="Boutee logo"
        class="h-auto w-[70px] md:h-full md:w-full"
      />
    </a>

    <!-- Desktop Menu -->
    <div class="hidden lg:flex gap-8">
      <div class="flex gap-8 items-center">
        {
          links.map((link) => {
            if (link.dropdown) {
              return (
                <div class="relative group">
                  <button aria-haspopup="true" aria-expanded="false" class="flex items-center gap-1 cursor-pointer font-figtree text-text-primary">
                    {link.name}
                    <Image
                      src={arrow}
                      alt="arrow"
                      class="transition-transform duration-300 rotate-180 group-hover:rotate-0"
                    />
                  </button>
                  <div class="absolute -left-8 mt-2 w-40 max-w-[146px] bg-white border border-[#F0F1F5] rounded-2xl p-2 flex flex-col items-center gap-2 opacity-0 group-hover:opacity-100 invisible group-hover:visible transition-all">
                    {link.dropdown.map((sublink) => (
                      <a
                        href={sublink.href}
                        class="py-2 hover:bg-secondary w-full text-center rounded-sm text-base font-figtree text-text-primary"
                      >
                        {sublink.name}
                      </a>
                    ))}
                  </div>
                </div>
              );
            } else {
              return (
                <a
                  href={link.href}
                  class="text-base font-figtree text-text-primary hover:border-b active:border-b border-[#2C2C30] transition-all duration-150"
                >
                  {link.name}
                </a>
              );
            }
          })
        }
      </div>

      <!-- Buttons -->
      <div class="flex items-center gap-4">
        <button class="px-2 py-1 border border-[#2C2C30] rounded-[12px] cursor-pointer w-[76px] text-[16px] leading-[20px] h-[36px]"
          >Log in</button
        >
        <button class=" w-[87px] h-[36px] rounded-[12px] bg-btnPrimary text-white cursor-pointer"
          >Sign up</button
        >
      </div>
    </div>

    <!-- Mobile Hamburger -->
    <div class="lg:hidden">
      <button id="menu-btn" class="focus:outline-none">
        <!-- Hamburger Icon -->
        <Image src={navMenu} alt="Boutee logo" class="" />
      </button>
    </div>
  </nav>

  <!-- Mobile Fullscreen Menu -->
  <div
    id="mobile-menu"
    class="fixed inset-0 z-50 hidden flex-col justify-between rounded-20px bg-secondary border border-secondary pt-2  pb-8 pl-[12px] pt-[8px] pr-[8px] my-2 mx-3 sm:mx-4 sm:my-3"
  >
    <!-- Top bar -->
    <div
      class="bg-secondary flex justify-between items-center  rounded-20px"
    >
      <Image src={mobileLogo} alt="Boutee logo" class="" />
      <button id="close-menu" class="focus:outline-none">
        <!-- Close Icon -->
        <Image src={closeMenuIcon} alt="Boutee logo" class="" />
      </button>
    </div>

    <!-- Center Nav Links -->
    <div
      class="flex flex-col items-center gap-4 md:gap-4.5 text-lg font-figtree shadow-sm-menu-small py-10 md:py-12 text-text-primary"
    >
      {
        links.map((link) => {
          // If dropdown exists, render all its sublinks
          if (link.dropdown) {
            return link.dropdown.map((sublink) => (
              <a href={sublink.href} class="w-full text-center p-2">
                {sublink.name}
              </a>
            ));
          } else {
           
            return (
              <a href={link.href} class="w-full text-center p-2">
                {link.name}
              </a>
            );
          }
        })
      }
    </div>

    <!-- Bottom Buttons -->
    <div class="flex justify-center gap-3 md:gap-3.5 px-6">
      <button
        class="border border-[#2C2C30] rounded-xl max-h-[48px] py-3.5 px-6 w-full font-figtree font-medium text-base leading-5"
        >Log in</button
      >
      <button
        class="rounded-xl py-3.5 px-6 bg-btnPrimary max-h-[48px] text-white w-full font-figtree font-medium text-base leading-5"
        >Sign up</button
      >
    </div>
  </div>
  <script type="module" client:load>
    const menuBtn = document.getElementById("menu-btn");
    const closeMenu = document.getElementById("close-menu");
    const mobileMenu = document.getElementById("mobile-menu");

    menuBtn?.addEventListener("click", () => {
      mobileMenu?.classList.remove("hidden");
      mobileMenu?.classList.add("flex");
      document.body.classList.add("menu-open");
    });

    closeMenu?.addEventListener("click", () => {
      mobileMenu?.classList.add("hidden");
      mobileMenu?.classList.remove("flex");
      document.body.classList.remove("menu-open");
    });
  </script>

  <style>
    body.menu-open {
      background-color: rgba(23, 23, 25, 0.4) !important;
      overflow: hidden;
    }
  </style>
</header>
